@import url("https://v1.fontapi.ir/css/Sahel");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Sahel, sans-serif;
}

.ltr {
  direction: ltr;
}

.rtl {
  direction: rtl;
}
